{% extends "base.html" %}
{% block content %}
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

  .container {
    padding: 0 16px;
  }

  .container::after,
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
</style>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class=" card w-60 shadow-lg p-5 m-5">
      <img src="{{url_for('static', filename='vicky.jpeg') }}" alt="Vignesh" width="300" height="300">
      <div class="container">
        <h2>Vignesh</h2>
        <p class="title">Full stack developer</p>
        <p>...</p>
        <p>Vignesh@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card w-60 shadow-lg p-5 m-5">
      <img src="{{url_for('static', filename='sharvesh.jpeg') }}" alt="sharvesh kumar" width="300" height="300">
      <div class="container">
        <h2>Sharvesh kumar</h2>
        <p class="title">Python developer</p>
        <p>...</p>
        <p>sharveshkumarcena2000@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card w-60 shadow-lg p-5 m-5">
      <img src="{{url_for('static', filename='santhanam.jpeg') }}" alt="Santhanam" width="200" height="300">
      <div class="container">
        <h2>Santhanam</h2>
        <p class="title">Web developer</p>
        <p>...</p>
        <p>Santhanam@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>



{% endblock %}